body {
    width: 450px;
    height: 562px;
}

.greeting__container {
    height: 140px;
}

.greeting__type {
    color: #2f2f2f;
    font-weight: 200;
}

.greeting__name {
    color: #6c757d;
    font-size: 1.3rem;
}

.greeting__container img {
    position: absolute;
    height: 180px;
    width: 100px;
    top: -50px;
    right: -20px;
    z-index: 10;

}

.save__container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.save__container button {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}


.action__item {
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 3px;
    padding: 1rem;
    margin-top: 12px;
    display: flex;
    align-items: center;
    border: 4px solid rgba(151, 151, 151, 0.27);
}

.action__item--text {
    flex: 1;
    margin-left: 10px;
    word-break: break-word;
    color: #727272;
    font-weight: bold;
    font-size: 18px;
}

.action__item--checkbox {
    border: 4px solid rgba(151, 151, 151, 0.27);
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.action__item--checkbox i {
    color: #56e452;
}

.action__item--delete {
    cursor: pointer;
}

.action__item--delete:hover {
    color: red;
}